*{
    margin: 0;
    padding: 0;
    color: white;
}
#calculator{
    width: 260px;
    margin: 0 auto;
    background-color: rgb(52, 51, 51);
    height: 360px;
    padding-left: 25px;
    padding-top: 30px;
}
button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 3px;
    background-color: lightgray;
    border: none;
    background-color: gray;
    font-size: 20px;
}
#equals{
    width: 230px;
    border-radius: 30px;
    color: black;
    font-size: 30px;
    background-color: lightgray;
    margin-top: 10px;


}
.operator{
    background-color: orange;
    
}
#display{
    font-size: 40px;
    width: 230px;
    text-align: end;
    margin-bottom: 5px;
    height: 45px;
    
}
button:active{
    background-color: rgb(181, 181, 181);
}
#equals:active{
    background-color: white;
}
.operator:active{
    background-color: rgb(255, 187, 61);
}